@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: flex-end;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  background:#222;
  position: sticky;
  top: 0%;
  height: 100px;
}


#navbar ul {
  list-style: none;
  padding: 2rem;
  display: flex;
  float: right;
}

#navbar a {
  padding-right: 2rem;
  text-decoration: none;
  color: #f5d000;
  font-weight: 530;
}

#navbar a:hover {
  color: #fff;
}

.logo {
  width: 100vw;
}

img {
  padding-left: 2rem;
  display: flex;
  justify-content: flex-start;
  height: 100px;
}

/* Showcase */
#showcase {
  background: #333 url('../img/showcase/1920v6.png') no-repeat center center/cover;
  height: 85vh;
  color: #f5d000;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  top: 60px;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  
}

#showcase .showcase-content h1 {
  font-size: 4.5rem;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: rgba(0,0,0,0.9);
}

/* About Us */
#about {
  background: #F3F3F3;
  height: 50vh;
}

#about .about-content h1 {
  display: flex;
  justify-content: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.2rem;
  color: #f5d000;
  width: 100%;
  margin-top: 10px;
  padding-top: 80px;
  padding-bottom: 60px; 
}

.about-content p {
  display: flex;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

 #img .img-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
  background: #F3F3F3;
}

.James {
  background: url('../img/Employees/jamesheadshot300.png') no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.Nolan {
  background: url('../img/Employees/nolan300.png') no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

.Bart {
  background: url('../img/Employees/bartheadshot.png') no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}

#img .names-container {
  display: flex;
 justify-content: space-around; 
 font-family: 'Helvetica Neue', sans-serif;
 font-size: 1.5rem;
 color: #f5d000;
 background: #F3F3F3;
 padding-top: 10px;
 padding-bottom: 60px;
}

.james-name, .nolan-name, .bart-name{
  background-color: #000;
  padding: 8px 10px;
}

/* Video Area */
#video .video-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  width: 100%;
  background: #222;
}

#video-head .video-head{
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.5rem;
  color: #f5d000;
  background-color: #222;
  padding-top: 90px;
  padding-bottom: 60px; 
  /* padding-top: 80px;
  padding-bottom: 60px; */
}

.video1 {
  width: 100%;
}

.video2 {
  width: 100%;
}

/* Store Area */
#store-head .store-head {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3.5rem;
  color: #f5d000;
  background-color: #f3f3f3;
  padding-top: 60px;
  padding-bottom: 60px;
}

#store .store-container {
  display: flex;
  justify-content: space-around;
  background: #f3f3f3;
}

.shirt1 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}

.shirt2 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}

.shirt3 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}

.shirt4 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}

/* Store Area Two */
#store .store-container2 {
  display: flex;
  justify-content: space-around;
  background: #f3f3f3;
}

.shirt5 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}

.shirt6 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}

.shirt7 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}

.shirt8 {
  background: url('../img/Clothing/hoodier.png');
  height: 400px;
  width: 400px;
}